[Unit]
Description=BisitorPythonServer
After=syslog.target
[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/bisitor/server/server
ExecStart=/home/bisitor/server/server/Server.py
StandartOutput=syslog
StandartError=syslog
[Install]
WantedBy=multi-user.target