<!DOCTYPE html>
<html lang="en">
<style type="text/css">
    table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 14px;
border-collapse: collapse;
text-align: center;
}
th, td:first-child {
background: #ef8923;
color: white;
padding: 10px 20px;
}
th, td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: white;
}
td {
background: #efefef;
}
th:first-child, td:first-child {
text-align: left;
}

</style>
<body>
<p> Уважаемый (-ая) {{receiver_name}},</p>
<p> Преподаватель {{sender_name}} иницировал рассылку оповещений.</p>
<p> Процент посещений занятий {{to_sender_name}}: {{visit_rate}}%.</p>
<p> Посещения занятий {{to_sender_name}} по группам:</p>
<div>
    {{group_table|safe}}
</div>
<p> Данное письмо сформировано автоматически. </p>
</body>
</html>