<!DOCTYPE html>
<html lang="en">
<style type="text/css">
    table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 14px;
border-collapse: collapse;
text-align: center;
}
th, td:first-child {
background: #ef8923;
color: white;
padding: 10px 20px;
}
th, td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: white;
}
td {
background: #efefef;
}
th:first-child, td:first-child {
text-align: left;
}

</style>
<body>
<div class="intro">
    <p> Уважаемый (-ая) {{receiver_name}},</p>
    <p> Преподаватель {{sender_name}} иницировал рассылку оповещений.</p>
    <p> Информация за интервал {{first_lesson_date}} - {{last_lesson_date}}.</p>
    <p> Проведено занятий {{completed_count}} из {{total_count}}.</p>
</div>
<div class="main">
    <p> Общий процент посещений занятий {{to_sender_name}}: {{visit_rate}}%.</p>
    <div class="by_group">
        <p> Посещения занятий {{to_sender_name}} по группам:</p>
        <div>
            {{group_table|safe}}
        </div>
    </div>
    <div class="by_discipline">
        <p> Посещения занятий {{to_sender_name}} по дисциплинам:</p>
        <div>
            {{discipline_table|safe}}
        </div>
    </div>
    <div class="by_week_bay">
        <p> Посещения занятий {{to_sender_name}} по дням недели:</p>
        <div>
            {{week_day_table|safe}}
        </div>
    </div>
</div>

<p> Данное письмо сформировано автоматически. </p>

</body>
</html>