{% macro header_menu_items(professor_name, current_week) -%}
<li><a href="/professor">{{professor_name}}</a></li>
<li><a href="/week">Текущая неделя: {{current_week}}</a></li>
<li><a href="logout">Выход</a></li>
{% endmacro -%}


{% macro header_menu(professor_name, current_week, mobile) -%}
    {% if mobile -%}
        <ul class="sidenav" id="mobile-demo">
            {{ header_menu_items(professor_name, current_week) }}
        </ul>
    {% else -%}
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {{ header_menu_items(professor_name, current_week) }}
        </ul>
    {% endif -%}
{% endmacro -%}


{% macro header(breadcrumbs, professor_name, current_week, mobile=False) -%}
<nav>
    <div class="nav-wrapper">
        <div class="">
            <i class="medium material-icons">assessment</i>
        </div>
        {{ header_menu(professor_name, current_week, mobile) }}
    </div>
</nav>
{% endmacro -%}

