<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
  <style>
  </style>
</head>
<body>
<div style="
grid-template-column: auto 75% auto;
grid-template-rows: auto;
grid-template-areas:
    '. header .'
    '. main .'
    '. footer .';
font-color: #101010" class="container">
  <div id="header" class="header">

  </div>
  <div id="content" class="main">

  </div>
  <div id="footer" class="footer">

  </div>
  <br>
  <br>
  <div>
    -----------------------
    <div id="signature">

    </div>
  </div>
</div>
</body>
</html>