html, body { height: 100%; margin: 0; }

.login-menu {
	text-align: center;
	width: 300px;
	border-radius: 4px;
	padding: 30px;
	background: #fff;
	margin: 150px auto 0 auto;
}

.fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: auto;
	background: #FF7043;
/*	background: url(https://www.pythonanywhere.com/user/schekochikhin/files/home/schekochikhin/server/static/miku.png);
    background-repeat: no-repeat;
    background-size: cover;*/

}

.login-input { width: 100%; }
.login-button { width: 100%; background: #FF5722;  border-radius: 4px;}
.login-title { color: #424242; }

#sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 180px;
    background-color: #EEEEEE;
}

.logo {
	color: #FFFFFF;
/*	text-align: center;*/
	font-weight: bold;
	font-size: 17px;
	background-color: #FF7043;
	padding-left: 25px;
	height: 64px;
	display: flex;

    align-items: center;
 /*   background: url(https://www.pythonanywhere.com/user/schekochikhin/files/home/schekochikhin/server/static/logbg.png);
    background-repeat: no-repeat;
    background-size: auto;*/

}

.option {
	color: #424242;
	background-color: #EEEEEE;
	padding: 16px;
	display: flex;
  	align-items: center;
  	/*justify-content: space-between;*/

}

.option-sel {
	color: #424242;
	background-color: #E0E0E0;
	padding: 16px;
	display: flex;
  	align-items: center;
  	/*justify-content: space-between;*/
}

.option:hover {
	background-color: #E0E0E0;
}

#header {
	text-align: right;
	color: #424242;
	margin-left: 180px;
/*	font-weight: bold;*/
	font-size: 20px;
	background-color: #EEEEEE;
	padding-right: 20px;
	padding-left: 20px;
	height: 64px;

	display: flex;
	align-items: center;
    justify-content: space-between;
}

#rank_name {
	color: #626262;
	font-size: 16px;
}

#week_pl {
	color: #626262;
	font-size: 16px;
}

#content {
/*	text-align: center;*/
	color: #424242;
	font-size: 13pt;
	padding-top: 20px;
	padding-bottom: 60px;
	padding-left: 60px;
	padding-right: 60px;
    margin-left: 180px;
}

a {	text-decoration: none; }
p {	text-align: justify; text-indent: 40px;}

/* TABLE STYLES*/

.tables{
	max-width: "100%";
	border-style: solid;
	border-width: 0px;
	border-color: #424242;
	border-spacing: 0;
}

.plate {
	overflow: auto;
	overflow-y: hidden;
}

td, th {
    border: 1px #424242 solid;
    text-align: center;
    padding: 3px;
    min-width: 13px;

}

.visited {
	/*background: #8BC34A;*/
	background: #81D4FA;
	text-align: center;
	line-height: 12px;
	width: 12px;
	height: 12px;
	font-size: 12px;
}

.not_visited {
	background: #EF9A9A;
	text-align: center;
	line-height: 12px;
	height: 12px;
	width: 12px;
	font-size: 12px;
}

.not_info {
	background: #DDD;
	text-align: center;
	line-height: 12px;
	height: 12px;
	width: 12px;
	font-size: 12px;
}

.rotate {
	background: #FFFFFF;
}
.rotated-text {
    display: inline-block;
    overflow: hidden;
    text-align: center;
    width: 10px;
}
.rotated-text__inner {
    display: inline-block;
    white-space: nowrap;
    /* this is for shity "non IE" browsers
       that dosn't support writing-mode */
    -webkit-transform: rotate(-90deg);
       -moz-transform: rotate(-90deg);
         -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
}
.rotated-text__inner:before {
    content: "";
    float: left;
    margin-top: 100%;
}


#place_for_data {
/*	display: flex;
	align-items: center;
    justify-content: space-between;*/

}

#place_for_legend {
}

#place_for_table {
    font-size:12px;
    color: #424242;
    overflow: auto;
	overflow-y: hidden;
	margin-left: 107px;
}

.studname {
    min-width: 100px;
    width 100px;
    max-height: 14px;
    white-space: nowrap;
    position: absolute;
    left: 240px;
}



.selec {
	margin-left: 10px;
	margin-right: 10px;
}

.opt {
	padding-right: 10px;
}

.small_chart {
	padding-top: 64px;
	padding-left: 8%;
	padding-right: 8%;
}

.cheb {
	display: inline-block;
}

.option-one {
	display: inline-block;
}

.adminTableRow {
	border-top: 1px solid black;
	border-collapse: collapse;
}

.adminTableRow:hover {
	border-top: 1px solid #ff8a65;
	background-color: #eeeeee;
}

.adminTableSubRow {
	background-color: #fff8e1;
}

.adminSubTableRow {
	border: 1px solid black;
	border-collapse: separate;
	background-color: white;
}

.adminSubTableRow:hover {
	border: 1px solid #ff8a65;
	background-color: #eeeeee;
}
/* visibility rules */

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* loading styles */
.loading {
	position: fixed;
	top: 35%;
	left: 45%;
}

@charset "UTF-8";
.container {
  height: 100vh;
  width: 100vw;
  font-family: Helvetica;
}

.loader {
  height: 20px;
  width: 250px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.loader--dot {
  animation-name: loader;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: black;
  position: absolute;
  border: 2px solid white;
}
.loader--dot:first-child {
  background-color: #8cc759;
  animation-delay: 0.5s;
}
.loader--dot:nth-child(2) {
  background-color: #8c6daf;
  animation-delay: 0.4s;
}
.loader--dot:nth-child(3) {
  background-color: #ef5d74;
  animation-delay: 0.3s;
}
.loader--dot:nth-child(4) {
  background-color: #f9a74b;
  animation-delay: 0.2s;
}
.loader--dot:nth-child(5) {
  background-color: #60beeb;
  animation-delay: 0.1s;
}
.loader--dot:nth-child(6) {
  background-color: #fbef5a;
  animation-delay: 0s;
}
.loader--text {
  position: absolute;
  bottom: 15%;
  left: 0;
  right: 0;
  width: 4rem;
  margin: auto;
}
.loader--text:after {
  content: "Загрузка";
  font-weight: bold;
  animation-name: loading-text;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes loader {
  15% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(230px);
  }
  65% {
    transform: translateX(230px);
  }
  95% {
    transform: translateX(0);
  }
}
@keyframes loading-text {
  0% {
    content: "Загрузка";
  }
  25% {
    content: "Загрузка.";
  }
  50% {
    content: "Загрузка..";
  }
  75% {
    content: "Загрузка...";
  }
}


/* all sections are off by default */
body > section { display:none; }

body.about	> section#about,
body.user	> section#user,
body.login  > section#login { display:block; }