<!DOCTYPE html>
<html>
	<head>

		<title>PROJECT BISITOR</title>

		<!-- jQUERY -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

		<!-- MATERIAL ICONS -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<!-- PURE CSS LIBRARY -->
		<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- CHART JS-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>

		<!-- SPAPP FILES-->
		<script type="text/javascript" src="/file/spapp.js"></script>
		<link rel="stylesheet" type="text/css" href="file/demo-styles.css">

	</head>
	<body>
		<!-- Весь сайт разделён на секции -->
		<section id="about" src="/file/about.htm"></section>
		<section id="user" src="/file/user.htm"></section>
		<section id="login" src="/file/login.htm" default></section>

	</body>
</html>
