<!-- Разметка окна входа -->
<div class="fullscreen">
	<div class="login-menu">
		<h2 class="login-title">ЛИЧНЫЙ КАБИНЕТ</h2>
		<form class="pure-form">
            <fieldset class="pure-groups">
				<input id = "log" type="text" class="pure-input login-input" placeholder="Логин">
				<input id = "pass" type="password" class="pure-input login-input" placeholder="Пароль">
			</fieldset>
			<a class="pure-button login-button" onclick="submitLogin();">Войти</a>
		</form>
	</div>
</div>

<!-- Логика входа в личный кабинет -->
<script type="text/javascript" src="file/login.js">



</script>
