<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
  <style>

  </style>
</head>
<body>
<div style="display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background: #eeeeee;">
  <div>
    <p style="max-width: 500px">
      Оперативная информация о пропусках занятий преподавателя {{professor}} на {{end_interval}} размещена в прикрепленном файле
    </p>
  </div>
  <div>
    <p style="max-width: 500px">Данное письмо рассылается автоматически. Отвечать на него не надо.</p>
    <p style="max-width: 500px">Вопросы и предложения по работе системы {{system_name}} отправлять на адрес {{help_email}}</p>
  </div>
</div>
</body>
</html>