
<!-- Боковое меню -->

<div id="sidebar">
	<div class="logo">Личный кабинет</div>
	<a id = "news"  href="#user:news">
		<div class="option"><i class="material-icons opt">announcement</i>Новости</div>
	</a>
	<a id = "visits" href="#user:visits">
		<div class="option"><i class="material-icons opt">school</i>Посещаемость</div>
	</a>
	<a id = "options" href="#user:options">
		<div class="option"><i class="material-icons opt">settings</i>Настройки</div>
	</a>
	<a id = "messages" href="#user:messages">
		<div class="option"><i class="material-icons opt">mail_outline</i>Сообщения</div>
	</a>
	<a id = "shedule" href="#user:shedule">
		<div class="option"><i class="material-icons opt">today</i>Расписание</div>
	</a>
	<a id = "exit" href="#user:exit">
		<div class="option"><i class="material-icons opt">exit_to_app</i>Выход</div>
	</a>
</div>

<!-- Структура заголовка -->

<div id="header">
	<div id = "dates" style="text-align: left;">
		<div id = "date_pl">15.08.1096</div>  <!-- дата начала 1 крестового похода -->
		<div id = "week_pl"></div>
	</div>
	<div id = "titles" style="text-align: right;">
		<div id = "title_name"></div>
		<div id = "rank_name"></div>
	</div>
</div>

<!-- Динамическое содержимое страницы -->

<div id="content">
</div>


<!-- Основная логика работы и заполнения сайта-->

<script type="text/javascript" src="/file/main.js"></script>